.App {
  text-align: center;
}

p {
    font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.clickable {
  /* stroke: #000;
  stroke-width: 2; */
  transition: filter 0.2s, stroke-width 0.2s;
  cursor: pointer;
}

.clickable.outcome:hover,
.clickable.outcome.selected {
  stroke: forestgreen;
  stroke-width: 1;
  filter: drop-shadow(5px 5px 8px forestgreen);
}

.clickable.result:hover,
.clickable.result.selected {
  stroke: orange;
  stroke-width: 2;
  filter: drop-shadow(5px 5px 8px orange);
}
.clickable.policy:hover,
.clickable.policy.selected {
  stroke: lightblue;
  stroke-width: 2;
  filter: drop-shadow(5px 5px 8px lightblue);
}

.clickable.role:hover,
.clickable.role.selected {
  stroke: red;
  stroke-width: 2;
  filter: drop-shadow(5px 5px 8px red);
}

.clickable.bottleneck:hover,
.clickable.bottleneck.selected {
  stroke: lightblue;
  stroke-width: 2;
  filter: drop-shadow(5px 5px 8px lightblue);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.transition-all {
  transition: all 0.2s ease;
}

